# {{ ansible_managed }} on {{ ansible_date_time.date }}
kern.vty=vt
coretemp_load="YES"
cuse_load="YES"

kern.geom.label.disk_ident.enable="0"
kern.geom.label.gptid.enable="0"
opensolaris_load="YES"
zfs_load="YES"

if_iwn_load="YES"
wlan_wep_load="YES"
wlan_ccmp_load="YES"
wlan_tkip_load="YES"
