# {{ ansible_managed }} on {{ ansible_date_time.date }}
clear_tmp_enable="YES"
syslogd_flags="-ss"
sendmail_enable="NONE"
hostname="{{ hostname }}"
ifconfig_{{ wired_interface }}="DHCP"
ifconfig_{{ wired_interface }}_ipv6="inet6 accept_rtadv"
wlans_iwn0="{{ wireless_interface }}"
ifconfig_{{ wireless_interface }}="country IE regdomain none WPA DHCP"
local_unbound_enable="YES"
sshd_enable="YES"
moused_enable="YES"
ntpd_enable="YES"
powerd_enable="YES"
powerd_flags="-a min -b min -i 60 -M 1200"
dumpdev="AUTO"

microcode_update_enable="YES"
webcamd_enable="YES"
