# {{ ansible_managed }} on {{ ansible_date_time.date }}

# $FreeBSD$
#
#  This file is read when going to multi-user and its contents piped thru
#  ``sysctl'' to adjust kernel values.  ``man 5 sysctl.conf'' for details.
#

security.bsd.see_other_uids=0
